h1, h2 {
 font-family: 'Nunito', sans-serif;
}

p, a {
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

/* Add styles here */

